services:
  db:
    image: postgres:16
    container_name: supply_intel_db
    environment:
      POSTGRES_DB: supply_intel
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
